.advantages {
  min-height: 473px;
  padding: 71px 0 67px;

  background: #f6f6f6;
  &__items {
    
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    width: 231px;
   &-title {
     font-weight: 700;
     font-size: 18px;
     line-height: 29px;
     margin-top: 35px;
   }
   &-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
    span {
      color: #FF0000;
      text-decoration: underline;
    }
   }
  }
  &__image {
    &_animated {
      animation:  heartbeat 2s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}
