.feedback {
  padding: 0 0 81px;
  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #0d0d0d;
    
  }
  &__part {
    color: #646464;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  &__descr {
    margin-top: 10px;
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 300;
  }
  &-item {
    display: flex;
    margin-top: 60px;
  }
  &__img {
    width: 169px;
    height: 169px;
    margin-right: 61px;
    img {
      width: 100%;
    }
  }
}
